<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>404 Server Error</title>
    <link rel="stylesheet" th:href="@{/css/style2.css}" />
</head>
<body>
	<section class="center">
		    <h1>404 Error: Server Error</h1>
		    <p>Sorry! The resource your are looking for is not available.</p>
    </section>
</body>
</html>