<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="stylesheet" th:href="@{/css/style2.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/icons.min.css}" />

    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src= "@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/main.min.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>

    <title>Dashboard</title>

</head>

<body>

<div class="wrapper">
    <div th:replace="~{sidebar :: sidebar}"></div>

    <div class="container-fluid">

        <div th:insert="~{navbar-menu :: navbar-menu}"></div>

        <div class="container justify-content-center">
            <br>
            <div class="heading-custom">
                <section class="center"><h3>DASHBOARD</h3></section>
            </div>

            <div class="row mt-5">
                <!-- First Card -->
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="custom-card">
                        <h4 class="font-weight-normal">Number of Users <i class="mdi mdi-chart-line custom-icon"></i></h4>
                        <h2>10</h2>
                    </div>
                </div>

                <!-- Second Card -->
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="custom-card">
                        <h4 class="font-weight-normal">Number of Words <i class="mdi mdi-bookmark-outline custom-icon"></i></h4>
                        <h2>6000</h2>
                    </div>
                </div>

                <!-- Third Card -->
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="custom-card">
                        <h4 class="font-weight-normal">Number of Categories <i class="mdi mdi-chart-line custom-icon"></i></h4>
                        <h2>60</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
