
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<!----------- Footer ------------>
<div class="container my-5">
  <!-- Footer -->
  <footer class="text-center footer-custom">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
 
        <div class="row text-center d-flex justify-content-center pt-5">

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/contact-us" class="nav-link">Contact Us</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
      </section>


      <hr class="my-5" />
      
      <section class="mb-10">
        <div class="row d-flex justify-content-center">
        <div class="col-md-3 col-sm-8 footer-social d-flex">
       			<div class="d-inline-block align-self-center">
        			<p class="bg-light"><img th:src="@{/images/NIC.png}" alt="NIC logo"></p>
        		</div>
	     </div>
	     
	     <div class="col-md-3 col-sm-8 footer-social d-flex">
       			<div class="d-inline-block align-self-center">
        			<p class="bg-light mb-0"><img th:src="@{/images/digital-india.png}" alt="digital india logo"></p>
        		</div>
	      </div>
        </div>
      </section>
 
    </div>

    <div class="text-center p-3 text-menu">
      DESIGNED AND DEVELOPED BY NIC MEGHALAYA
    </div>
  </footer>

</div>
<!-- End of .container -->
</body>
