<!-- header.html -->
<header class="d-flex justify-content-between align-items-center p-3 shadow">
  <div class="mb-4 rounded-circle p-2 text-left bg-light shadow-lg border border-2 border-primary">
    <img th:src="@{/images/logo.png}" alt="NERIE logo" width="70px">
  </div>
  <div>
    <h3 class="text-center">NERIE LANGUAGE E-RESOURCES</h3>
    <h4 class="text-center">North-East Lingo</h4>
  </div>
  <img th:src="@{/images/northeast.png}" alt="Northeast logo" class="logo" width="100px"/>
</header>
