<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<meta th:name="_csrf" th:content="${_csrf.token}"/>
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

	<link rel="stylesheet" th:href="@{/css/style2.css}" />
	<link rel="stylesheet" th:href="@{/css/style3.css}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/base.css}" />
	<link rel="stylesheet" th:href="@{/css/icons.min.css}" />

	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/main.min.js}"></script>
	<script th:src="@{/js/jsencrypt.min.js}"></script>
	<script th:src="@{/js/login.js}"></script>
	<script th:src="@{/js/publickey.js}"></script>

	<style>
        .form-group {
            margin-bottom: 1.5rem; /* Adjusted for spacing between input fields */
        }
    </style>
</head>

<body>
<div class="col-lg-12 mb-4">
	<div class="card shadow-lg">
		<div class="card-body text-center">
			<h2 class="text-custom">Language e-resources</h2>
			<h5 class="text-custom">in Non-scheduled Language (North East Region)</h5>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<!-- Card for Login Form -->
		<div class="col-lg-4 mb-4">
			<div class="card shadow-lg">
				<div class="card-body">
					<h2 class="b-login-head text-center">Log In</h2>
					<form name="login-form" id="login-form" th:action="@{/login/process}" method="post" th:object="${request}" autocomplete="off" class="px-4">
						<div class="form-group mb-3">
							<label for="username" class="text-custom">Username:</label>
							<input type="text" class="form-control" id="username" placeholder="Enter username" name="username" maxlength="20" required title="Username is required. Minimum 6 and maximum 20 characters is allowed.">
						</div>
						<div class="form-group">
							<label for="password" class="text-custom">Password:</label>
							<input id="password" type="password" class="form-control" placeholder="Enter password" name="password" maxlength="250" required title="Password is required. Minimum 6 and maximum 250 characters is allowed.">
						</div>

						<!-- Captcha Section -->
						<div class="form-group mb-3 mt-3">
							<div class="d-flex justify-content-between align-items-center mb-2" id="captchaImageContainer">
								<div id="captchaImage" class="flex-grow-1">
									<!-- CAPTCHA Image will go here -->
								</div>
								<button type="button" id="refresh-button" class="btn btn-secondary d-flex justify-content-center align-items-center" onclick="refreshCaptcha()">
									<i class="fa">&#xf021;</i>
								</button>
							</div>
							<label for="captcha" class="text-custom">Enter Captcha:</label>
							<div class="input-group">
								<input id="captcha" type="text" class="form-control" placeholder="Enter Captcha" name="captcha" maxlength="6" required>
							</div>
						</div>

						<div th:if="${param.error}">
							<div class="alert alert-danger">Invalid username/password or Captcha</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary btn-block">Log In</button>
						</div>

						<!-- CSRF Token -->
						<input type="hidden" name="${_csrf_header}" value="${_csrf}" />

						<!-- Debugging Info (Optional) -->
						<div class="text-danger" id="debug-info"></div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
